.single-home-review-container img{
    width: 15em;
}

.single-home-review-container{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(105, 47, 47, 0.267);
    padding: 20px;
    /* word-wrap: break-word; */
}
.single-home-review-details{
    padding: 10px;
}
.home-page-review h4, .home-page-review p{
    margin: 4px;
    /* word-wrap: break-word; */
}